<div data-v-e8b0778c="" data-v-2182f607="" class="clip-player-container">
    <h4 data-v-e8b0778c="" class="">
        <a data-v-e8b0778c="" href="https://freesound.org/people/MBARI_MARS/sounds/404314/" target="_blank"
           title="Click to open this clip in Freesound">
            Marine mammal community <i data-v-e8b0778c="" aria-hidden="true" class="fa fa-external-link"></i>
        </a>
    </h4>
    <div data-v-e8b0778c="" class="large large-clip-player">
        <div data-v-e8b0778c="" class="widget large">
            <div data-v-e8b0778c="" class="sample_info">
                <nobr data-v-e8b0778c="">
                    <img data-v-e8b0778c="" src="https://freesound.org/data/avatars/6181/6181234_S.jpg" alt="avatar"
                         class="avatar">
                    <h3 data-v-e8b0778c="">Marine mammal community</h3>
                    <img data-v-e8b0778c="" src="https://freesound.org/media/images/widgets/bync.png"
                         height="16" alt="Creative Commons Attribution Non-Commercial license"
                         title="This sound is licensed under the Creative Commons Attribution Non-Commercial license."
                         class="cc_license">
                    <a data-v-e8b0778c="" href="https://freesound.org/people/MBARI_MARS/sounds/404314/"
                       alt="see this sound on freesound" target="_parent"></a>
                </nobr>
                <br data-v-e8b0778c="" style="clear: both;">
            </div>
            <div data-v-e8b0778c="" class="player large">
                <div data-v-e8b0778c="" class="metadata">
                    <a data-v-e8b0778c="" href="https://freesound.org/data/previews/404/404314_6181234-lq.mp3"
                       title="mp3 file" class="mp3_file">Marine mammal community - mp3 version</a>
                    <a data-v-e8b0778c="" href="https://freesound.org/data/previews/404/404314_6181234-lq.ogg"
                       title="ogg file" class="ogg_file">Marine mammal community - ogg version</a>
                    <a data-v-e8b0778c="" href="https://freesound.org/data/displays/404/404314_6181234_wave_L.png"
                       title="waveform file" class="waveform">Marine mammal community - waveform</a>
                    <a data-v-e8b0778c="" href="https://freesound.org/data/displays/404/404314_6181234_spec_L.jpg"
                       title="spectrogram file" class="spectrum">Marine mammal community - spectrogram</a>
                    <span data-v-e8b0778c="" title="duration in seconds" class="duration">7560</span>
                </div>
                <div class="controls" style="opacity: 0.2;">
                    <a href="javascript:void(0)" title="play / pause" class="toggle play">play / pause</a>
                    <a href="javascript:void(0)" title="stop" class="button stop">stop</a>
                    <a href="javascript:void(0)" title="change display" class="display toggle">change display</a>
                    <a href="javascript:void(0)" title="loop" class="toggle loop">loop</a>
                    <a href="javascript:void(0)" title="toggle measure" class="toggle measure">toggle measure</a>
                </div>
                <div class="background"
                     style="background: url(&quot;https://freesound.org/data/displays/404/404314_6181234_wave_L.png&quot;) 0% 0% / contain no-repeat;"></div>
                <div class="measure-readout-container" style="opacity: 0;">
                    <div class="measure-readout">-6.15 dB</div>
                </div>
                <div class="loading-progress" style="display: none;"></div>
                <div class="position-indicator"></div>
                <div class="time-indicator-container">
                    <div class="time-indicator">-00:07:560</div>
                </div>
            </div>
        </div>
    </div>
    <div data-v-e8b0778c="" class="medium medium-clip-player player-hidden">
        <div data-v-e8b0778c="" class="widget medium">
            <div data-v-e8b0778c="" class="player_wrapper">
                <div data-v-e8b0778c="" class="player small">
                    <div data-v-e8b0778c="" class="metadata">
                        <a data-v-e8b0778c="" href="https://freesound.org/data/previews/404/404314_6181234-lq.mp3"
                           title="mp3 file" class="mp3_file">Marine mammal community - mp3 version</a>
                        <a data-v-e8b0778c="" href="https://freesound.org/data/previews/404/404314_6181234-lq.ogg"
                           title="ogg file" class="ogg_file">Marine mammal community - ogg version</a>
                        <a data-v-e8b0778c="" href="https://freesound.org/data/displays/404/404314_6181234_wave_M.png"
                           title="waveform file" class="waveform">Marine mammal community - waveform</a>
                        <a data-v-e8b0778c="" href="https://freesound.org/data/displays/404/404314_6181234_spec_M.jpg"
                           title="spectrogram file" class="spectrum">Marine mammal community - spectrogram</a>
                        <span data-v-e8b0778c="" title="duration in seconds" class="duration">7560</span>
                    </div>
                    <div class="controls">
                        <a href="javascript:void(0)" title="play / pause" class="toggle play">play / pause</a>
                        <a href="javascript:void(0)" title="loop" class="toggle loop">loop</a>
                    </div>
                    <div class="background"
                         style="background-image: url(&quot;https://freesound.org/data/displays/404/404314_6181234_wave_M.png&quot;); background-size: contain; background-repeat: no-repeat;"></div>
                    <div class="loading-progress" style="display: none;"></div>
                    <div class="position-indicator"></div>
                    <div class="time-indicator-container">
                        <div class="time-indicator">-00:07</div>
                    </div>
                </div>
            </div>
            <div data-v-e8b0778c="" class="sample_info">
                <span data-v-e8b0778c="" class="title">
                    <nobr data-v-e8b0778c="">
                    <h3 data-v-e8b0778c="">Marine mammal community</h3>
                    <img data-v-e8b0778c="" src="/media/images/widgets/bync.png" height="16"
                         alt="Creative Commons Attribution Non-Commercial license"
                         title="This sound is licensed under the Creative Commons Attribution Non-Commercial license."
                         class="cc_license">
                    </nobr>
                </span>
                <div data-v-e8b0778c="" class="sample_info_left">
                    <img data-v-e8b0778c="" src="https://freesound.org/data/avatars/6181/6181234_M.jpg"
                         alt="avatar" class="avatar">
                    <span data-v-e8b0778c="" class="username">MBARI_MARS</span>
                    <a data-v-e8b0778c="" href="https://freesound.org/people/MBARI_MARS/sounds/404314/"
                       alt="see this sound on freesound" target="_parent"></a>
                </div>
                <div data-v-e8b0778c="" class="sample_info_right">
                    <ul data-v-e8b0778c="" id="tags">
                        <li data-v-e8b0778c=""><span data-v-e8b0778c="">field-recording</span></li>
                        <li data-v-e8b0778c=""><span data-v-e8b0778c="">Lagenorhynchus-obliquidens</span></li>
                        <li data-v-e8b0778c=""><span data-v-e8b0778c="">Megaptera-novaeangliae</span></li>
                        <li data-v-e8b0778c=""><span data-v-e8b0778c="">California-sea-lion</span></li>
                        <li data-v-e8b0778c=""><span data-v-e8b0778c="">Monterey-Bay</span></li>
                        <li data-v-e8b0778c=""><span data-v-e8b0778c="">California</span></li>
                        <li data-v-e8b0778c=""><span data-v-e8b0778c="">ocean-soundscape</span></li>
                        <li data-v-e8b0778c=""><span data-v-e8b0778c="">marine-mammals</span></li>
                        <li data-v-e8b0778c=""><span data-v-e8b0778c="">humpback-whale</span></li>
                        <li data-v-e8b0778c=""><span data-v-e8b0778c="">cetacean-acoustics</span></li>
                        <li data-v-e8b0778c=""><span data-v-e8b0778c="">Zalophus-californianus</span></li>
                        <li data-v-e8b0778c=""><span data-v-e8b0778c="">Pacific-white-sided-dolphin</span></li>
                        <li data-v-e8b0778c=""><span data-v-e8b0778c="">MBARI</span></li>
                        <li data-v-e8b0778c=""><span data-v-e8b0778c="">hydrophone</span></li>
                    </ul>
                </div>
                <br data-v-e8b0778c="" style="clear: both;">
            </div>
        </div>
    </div>
    <div data-v-e8b0778c="" class="small small-clip-player player-hidden">
        <div data-v-e8b0778c="" class="widget small">
            <nobr data-v-e8b0778c="">
                <div data-v-e8b0778c="" class="player mini">
                    <div data-v-e8b0778c="" class="metadata">
                        <a data-v-e8b0778c="" href="https://freesound.org/data/previews/404/404314_6181234-lq.mp3"
                           title="mp3 file" class="mp3_file">Marine mammal community - mp3 version</a>
                        <a data-v-e8b0778c="" href="https://freesound.org/data/previews/404/404314_6181234-lq.ogg"
                           title="ogg file" class="ogg_file">Marine mammal community - ogg version</a>
                        <a data-v-e8b0778c="" href="https://freesound.org/data/displays/404/404314_6181234_wave_M.png"
                           title="waveform file" class="waveform">Marine mammal community - waveform</a>
                        <a data-v-e8b0778c="" href="https://freesound.org/data/displays/404/404314_6181234_spec_M.jpg"
                           title="spectrogram file" class="spectrum">Marine mammal community - spectrogram</a>
                        <span data-v-e8b0778c="" title="duration in seconds" class="duration">7560</span>
                    </div>
                    <div class="controls">
                        <a href="javascript:void(0)" title="play / pause" class="toggle play">play / pause</a>
                        <a href="javascript:void(0)" title="loop" class="toggle loop"></a>
                    </div>
                    <div class="background" style="background-size: contain; background-repeat: no-repeat;"></div>
                    <div class="loading-progress" style="display: none;"></div>
                    <div class="position-indicator"></div>
                </div>
                <div data-v-e8b0778c="" class="sample_info">
                    <a data-v-e8b0778c="" href="https://freesound.org/people/MBARI_MARS/sounds/404314/"
                       target="_parent">
                        <h3 data-v-e8b0778c="">Marine mammal community</h3>
                    </a>
                    <img data-v-e8b0778c="" src="/media/images/widgets/external.png">
                </div>
            </nobr>
            <br data-v-e8b0778c="" style="clear: both;">
        </div>
    </div>
</div>
