<template>
  <div class="app-container">
    <div class="loading-overlay" v-bind:class="{hidden: hideLoading}"></div>
    <div class="overlay-spinner" v-bind:class="{hidden: hideLoading}">
      <atom-spinner
        :animation-duration="1000"
        :size="200"
        :color="'#1e355e'"
      />
      <div class="overlay-spinner-text">Loading Audio Clips ...</div>
    </div>
    <div class="category-list">
      <category-list @category-filter-selected="handleCategoryFilterSelected" :categories="categories"
                     title="Clip Categories"></category-list>
      <div class="art-work-citation">Cetacea artwork by Larry Foster</div>
      <br/>
      <button @click="clearFilter">Clear Filters</button>
      <br/>
      <br/>
    </div>
    <clip-list :clipSoundManager="clipSoundManager" :clips="clips" :api-base-url="apiBaseUrl" :api-key="apiKey"
               :category-filter="categoryFilter" title="Sound Clips"
               v-on:all-frames-loaded="handleAllFramesLoaded"></clip-list>
  </div>
</template>

<script>
  import CategoryList from "./CategoryList.vue";
  import ClipList from "./ClipList.vue";
  import axios from "axios";
  import {AtomSpinner} from 'epic-spinners';
  // Import the sound manager library
  import * as sm2 from "soundmanager2";

  export default {
    components: {
      'category-list': CategoryList,
      'clip-list': ClipList,
      AtomSpinner
    },
    name: 'app',
    data() {
      return {
        clipSoundManager: null,
        hideLoading: false,
        apiBaseUrl: '',
        apiKey: '',
        freesoundUsername: '',
        largePlayerWidth: 0,
        largePlayerHeight: 0,
        mediumPlayerWidth: 0,
        mediumPlayerHeight: 0,
        smallPlayerWidth: 0,
        smallPlayerHeight: 0,
        categories: [],
        categoryFilter: '',
        clips: []
      }
    },
    created() {
      // Call the method to set up everything
      this.setup();

    },
    methods: {
      setup() {
        // First make an AJAX call to get the application configuration
        axios.get('config.json').then(response => {
          // Grab the properties from the configuration and save them locally
          this.apiBaseUrl = response.data.apiBaseUrl;
          this.apiKey = response.data.apiKey;
          this.freesoundUsername = response.data.freesoundUsername;
          this.largePlayerWidth = response.data.largePlayerWidth;
          this.largePlayerHeight = response.data.largePlayerHeight;
          this.mediumPlayerWidth = response.data.mediumPlayerWidth;
          this.mediumPlayerHeight = response.data.mediumPlayerHeight;
          this.smallPlayerWidth = response.data.smallPlayerWidth;
          this.smallPlayerHeight = response.data.smallPlayerHeight;

          // Save the categories that we want to use as filters
          this.categories = response.data.categories;

          // Make a call to get the API data from a results file
          axios.get('data/api/results.json').then(response => {
            this.clips = response.data;
          });
        });

        // Create the sound manager
        this.clipSoundManager = sm2.soundManager.setup({
          url: 'node_modules/soundmanager2/swf/',
          html5PollingInterval: 10,
          debugMode: false,
          onready: function() {
            console.log("Clip sound manager ready");
          },
          ontimeout: function() {
            // Hrmm, SM2 could not start. Missing SWF? Flash blocked? Show an error, etc.?
            console.log("Sound manager creation timed out. Missing SWF? Flash Blocked? Error?");
          }
        });
      },
      handleAllFramesLoaded: function (tag) {
        this.hideLoading = true;
      },
      handleCategoryFilterSelected: function (tag) {
        this.categoryFilter = tag;
      },
      clearFilter: function () {
        this.categoryFilter = '';
      }
    }
  }
</script>

<style lang="scss" scoped>
  .app-container {
    font-family: merriweather;
    font-size: 16px;
  }

  .category-list {
    text-align: center;
  }

  .loading-overlay {
    content: " ";
    z-index: 8;
    display: block;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.9);
  }

  .overlay-spinner {
    z-index: 10;
    justify-content: center;
    display: block;
    position: absolute;
    top: 100px;
    left: 50%;
    margin-left: -100px;
  }

  .overlay-spinner-text {
    color: #1e355e;
    z-index: 10;
    font-size: x-large;
  }

  .hidden {
    display: none;
  }

  .art-work-citation {
    float: right;
    padding-right: 20px;
    font-style: italic;
  }
</style>
