<template>
  <div class="clip-category">
    <button @click="categorySelected()">
      <img :src="category.image">
      <h4>{{category.name}}</h4>
    </button>
  </div>
</template>

<script>
  export default {
    name: 'category-list-item',
    props: ['category'],
    methods: {
      categorySelected() {
        this.$emit('category-selected');
      }
    }
  }
</script>

<style lang="scss" scoped>
  // Style the colors of the buttons (hover and active too)
  .clip-category > button:hover {
    background-color: lightgray;
  }

  .clip-category > button:active {
    background-color: lightblue;
  }

  .clip-category > button:focus {
    background-color: lightblue;
  }

  // Center stuff on the buttons
  .clip-category > button {
    text-align: center;
    border-radius: 10px;
    padding: 2px;
    margin: 2px;
  }

  // Round the images
  .clip-category > button > img {
    border-radius: 10px;
  }

  // Styles for the smallest screen size
  @media(min-width: 0px) {
    // Size up the button
    .clip-category > button {
      width: 120px;
      height: 120px;
    }

    // And size the image on the button
    .clip-category > button > img {
      width: 100px;
    }

    // And font size
    .clip-category > button > h4 {
      font-size: 12px;
    }
  }

  // Styles for the medium screen size
  @media(min-width: 550px) {
    // Size up the button
    .clip-category > button {
      width: 160px;
      height: 160px;
    }

    // And size the image on the button
    .clip-category > button > img {
      width: 140px;
    }

    // And font size
    .clip-category > button > h4 {
      font-size: 16px;
    }
  }

  // Styles for the large screen size
  @media(min-width: 992px) {
    // Size up the button
    .clip-category > button {
      width: 180px;
      height: 180px;
    }

    // And size the image on the button
    .clip-category > button > img {
      width: 160px;
    }

    // And font size
    .clip-category > button > h4 {
      font-size: 18px;
    }
  }

</style>
