<template>
  <div class="category-list">
        <category-list-item @category-selected="handleCategorySelect(i)"
                            v-for="(category,i) in categories" v-bind:category="category"
                            v-bind:key="category.id"></category-list-item>
  </div>
</template>

<script>
  import CategoryListItem from './CategoryListItem.vue';

  export default {
    name: 'category-list',
    props: ['categories', 'title'],
    components: {
      'category-list-item': CategoryListItem
    },
    methods: {
      // This method handles when the user selects a category of clips to view
      handleCategorySelect: function (i) {
        // Send the selection tag to the parent in an event
        this.$emit('category-filter-selected', this.categories[i].tag);
      }
    }
  }
</script>

<style lang="scss" scoped>
  .category-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
</style>
