<template>
  <div v-bind:class="{'hidden': isPlayerHidden }" class="clip-player-container">
    <h4>
      <a :href="clip.details.url" target="_blank" title="Click to open this clip in Freesound">
        {{clip.name}} ({{durationReadout}}) <i class="fa fa-external-link" aria-hidden="true"></i>
      </a>
    </h4>
    <div class="large large-clip-player" v-bind:style="{borderColor: playerBorderColor}">
      <div class="widget large">
        <div class="sample_info">
          <nobr>
            <img class="avatar" src="https://freesound.org/data/avatars/6181/6181234_S.jpg" alt="avatar"/>
            <h3>{{clip.details.name}}</h3>
            <img class="cc_license" src="media/images/widgets/bync.png" height="16"
                 alt="Creative Commons Attribution Non-Commercial license"
                 title="This sound is licensed under the Creative Commons Attribution Non-Commercial license."/>
            <a v-bind:href="clip.details.url" alt="see this sound on freesound" target="_parent"></a>
          </nobr>
          <br style="clear: both;"/>
        </div>
        <div class="player large">
          <div class="controls">
            <a href="javascript:void(0)" title="play / pause" class="play" v-bind:class="playButtonToggleClass"
               @click="handlePlayClicked()">play / pause</a>
            <a href="javascript:void(0)" title="stop" class="button stop" @click="handleStopClicked()">stop</a>
            <a href="javascript:void(0)" title="change display" class="display toggle" @click="handleDisplayClicked()">change
              display</a>
            <!--<a href="javascript:void(0)" title="loop" class="toggle loop">loop</a>-->
            <!--<a href="javascript:void(0)" title="toggle measure" class="toggle measure">toggle measure</a>-->
          </div>
          <div class="background" v-bind:style="{ backgroundImage: 'url(' + largePlayerBackgroundUrl + ')' }"
               @click="handleBackgroundClicked($event)"></div>
          <!--<div class="measure-readout-container">-->
          <!--<div class="measure-readout"></div>-->
          <!--</div>-->
          <div class="loading-progress"
               v-bind:style="{display: loadingProgressDisplay, width: loadingProgressWidth, left: loadingProgressLeft }"></div>
          <div class="position-indicator" v-bind:style="{left: playerPositionPercent}"></div>
          <div class="time-indicator-container">
            <div class="time-indicator">{{playerTime}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="small small-clip-player" v-bind:style="{borderColor: playerBorderColor}">
      <div class="widget small">
        <!--<nobr>-->
        <div class="player mini">
          <div class="controls">
            <a href="javascript:void(0)" title="play / pause" class="play" v-bind:class="playButtonToggleClass"
               @click="handlePlayClicked()">play /
              pause</a>
            <!--<a href="javascript:void(0)" title="loop" class="toggle loop"></a>-->
          </div>
          <div class="background" style="background-repeat: no-repeat; background-size: 100% 100%;"
               v-bind:style="{ backgroundImage: 'url(' + largePlayerBackgroundUrl + ')' }"
               @click="handleBackgroundClicked($event)"></div>
          <div class="loading-progress"
               v-bind:style="{display: loadingProgressDisplay, width: loadingProgressWidth, left: loadingProgressLeft }"></div>
          <div class="position-indicator" v-bind:style="{left: playerPositionPercent}"></div>
        </div>
        <!--<div class="sample_info">-->
        <!--<a v-bind:href="clip.details.url" target="_parent"><h3>{{clip.details.name}}</h3></a>-->
        <!--<img src="media/images/widgets/external.png"/>-->
        <!--</div>-->
        <!--</nobr>-->
        <br style="clear: both;"/>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'clip-list-item',
    props: ['clipSoundManager', 'clip', 'categoryFilter'],
    data() {
      return {
        soundClip: null,
        durationReadout: "00:00:00",
        durationInMillis: this.clip.details.duration * 1000,
        isPlayerHidden: false,
        playerTime: null,
        isClipLoaded: false,
        highestLoadedPosition: 0,
        loadingProgressWidth: '100%',
        loadingProgressLeft: '0%',
        loadingProgressDisplay: 'none',
        playerPositionPercent: '0%',
        playerBorderColor: 'white',
        largePlayerBackground: 'waveform',
        largePlayerBackgroundUrl: this.clip.details.images['waveform_l'],
        playButtonToggleClass: 'toggle'
      }
    },
    created() {
      // Set the initial duration readout
      this.durationReadout = this.$parent.msToTime(0, this.durationInMillis, true, false);

      // Grab the scope for callbacks and use it when creating the sound clip
      var clipListItemScope = this;
      this.soundClip = this.clipSoundManager.createSound({
        id: 'mbari' + this.clip.id,
        url: this.clip.details.previews['preview-lq-mp3'],
        onfinish: function () {
          // This means the clip is done playing, so reset the position indicator and remove playing indicators
          clipListItemScope.playerPositionPercent = '0%';
          clipListItemScope.playButtonToggleClass = 'toggle';
          clipListItemScope.playerBorderColor = 'white';
          clipListItemScope.playerTime = clipListItemScope.$parent.msToTime(0, this.durationInMillis, false, false)
        },
        onload: function () {
          // According to the SoundManager2 docs, this gets called when it appears that the user should be able
          // to move around in the sound file and it will play for them.  It DOES NOT mean that the sound file is
          // fully loaded.  This is weird, but this is how HTML5 deals with streaming.  When HTML5 says there is enough
          // loaded (i.e. 'canplay') this event fires.  I could not find any really good way to track to loading indicator
          // with what was really going on with streaming, so I punted and just used this to clear the loading indicator
          console.log("onload called");
          clipListItemScope.isClipLoaded = true;
          clipListItemScope.loadingProgressDisplay = 'none';
        },
        onpause: function () {
          // Playback was paused, so remove playing indicators
          clipListItemScope.playButtonToggleClass = 'toggle';
          clipListItemScope.playerBorderColor = 'white';
        },
        onplay: function () {
          // Playing was started so turn on playing indicators
          clipListItemScope.playButtonToggleClass = 'toggle-alt';
          clipListItemScope.playerBorderColor = '#F0573F';
        },
        onresume: function () {
          // Playing was resumed, so turn on playing indicators
          clipListItemScope.playButtonToggleClass = 'toggle-alt';
          clipListItemScope.playerBorderColor = '#F0573F';
        },
        onstop: function () {
          // Playing was stopped so reset position indicator and turn off playing indicators
          clipListItemScope.playerPositionPercent = '0%';
          clipListItemScope.playButtonToggleClass = 'toggle';
          clipListItemScope.playerBorderColor = 'white';
          clipListItemScope.playerTime = clipListItemScope.$parent.msToTime(0, this.durationInMillis, false, false)
        },
        whileloading: function () {
          console.log("whileloading called");
          // First check to see if the clip is already considered loaded
          if (!clipListItemScope.isClipLoaded) {
            // Since it's not, we should give the user some kind of indication that something is happening.
            // Since the audio can buffer in sections, we want to find the highest end of the buffer to figure
            // out where we could play out to based on the data received so far.
            var i, j;
            for (i = 0, j = this.buffered.length; i < j; i++) {
              if (this.buffered[i].end > clipListItemScope.highestLoadedPosition) clipListItemScope.highestLoadedPosition = this.buffered[i].end;
            }

            // Calculate that as a percent loaded for moving the loading indicator
            var percentLoaded = clipListItemScope.highestLoadedPosition / this.durationEstimate * 100;

            // If it's loaded some, turn on the loading overlay
            if (percentLoaded > 0) {
              clipListItemScope.loadingProgressDisplay = 'block';
            }

            // And adjust it's width and location
            clipListItemScope.loadingProgressWidth = (100 - percentLoaded) + '%';
            clipListItemScope.loadingProgressLeft = percentLoaded + '%';
          }
        },
        whileplaying: function () {
          // Calculate the position indicators location
          clipListItemScope.playerPositionPercent = this.position / this.duration * 100 + '%';

          // And update the playing time
          clipListItemScope.playerTime = clipListItemScope.$parent.msToTime(this.position, this.durationInMillis, false, false)
        }
      });

      // Set the initial time
      this.playerTime = this.$parent.msToTime(0, this.durationInMillis, false, false);
    },
    mounted() {
      // Add a window listener for window sizing handling
      window.addEventListener('resize', this.checkForHiddenStatus);

      // Emit an event to the parent to say that everything is all good
      this.$emit('frame-loaded');
    },
    watch: {
      categoryFilter: function () {
        this.checkForHiddenStatus();
      }
    },
    methods: {
      checkFilter: function () {
        // First check to see if the category filter is empty, if so, just return true
        if (this.categoryFilter == '') {
          return true;
        }

        // Check to see if the filter is in the set of clip list tags
        if (this.clip.tags.indexOf(this.categoryFilter) >= 0) {
          return true;
        } else {
          return false;
        }
      },
      checkForHiddenStatus: function () {
        // This method looks at both the category filter to determine
        if (this.categoryFilter == '' || this.clip.tags.indexOf(this.categoryFilter) >= 0) {
          // All players should be visible
          this.isPlayerHidden = false;
        } else {
          // This means all three players should be hidden
          this.isPlayerHidden = true;
          // Make sure we stop the sound if it's playing
          this.soundClip.stop();
        }
      },
      handlePlayClicked: function (e) {
        // Check to see if current player is not playing, if so, stop other players
        if ((!this.soundClip.playState && !this.soundClip.paused) ||
          (this.soundClip.playState && this.soundClip.paused)) {
          this.clipSoundManager.pauseAll();
        }

        // And toggle play/pause
        this.soundClip.togglePause();
      },
      handleStopClicked: function (e) {
        this.soundClip.stop();
      },
      handleDisplayClicked: function (e) {
        if (this.largePlayerBackground == 'waveform') {
          this.largePlayerBackgroundUrl = this.clip.details.images['spectral_l'];
          this.largePlayerBackground = 'spectral';
        } else {
          this.largePlayerBackgroundUrl = this.clip.details.images['waveform_l'];
          this.largePlayerBackground = 'waveform';
        }
      },
      getPlayerPosition: function (element) {
        // Loop outwards through parent elements to get the position of the element relative to the page
        for (var lx = 0, ly = 0; element != null; lx += element.offsetLeft,
          ly += element.offsetTop, element = element.offsetParent) ;

        // Return the cumulative position both x and y
        return [lx, ly];
      },
      getMousePosition: function (event) {
        // Initialize the mouse position holders
        var posx = 0;
        var posy = 0;

        // If no event was sent in, grab the most recent window event
        if (!event) var event = window.event;

        // Check to see if the pageX and pageY values are on the event and if so grab those
        if (event.pageX || event.pageY) {
          posx = event.pageX;
          posy = event.pageY;
        } else if (event.clientX || event.clientY) {
          // Else use the clientX and clientY values and add offsets
          posx = event.clientX + document.body.scrollLeft + document.documentElement.scrollLeft;
          posx = event.clientY + document.body.scrollTop + document.documentElement.scrollTop;
        }

        // Now grab the position of the player
        var ppos = this.getPlayerPosition(event.target);

        // Now calculate the mouse position relative to the player and return them
        return [posx - ppos[0], posy - ppos[1]];
      },
      setPlayerPosition: function (event) {
        // Grab the mouse position relative to the player
        var mousePositionRelPlayer = this.getMousePosition(event);

        // Now calculate the X position of the click relative to the player as a percent
        var mouseXPosAsPercentOfWidth = mousePositionRelPlayer[0] / event.target.scrollWidth;

        // Now convert that location to the equivalent number of milliseconds from the start
        var mouseXPosEquivalentMillis = mouseXPosAsPercentOfWidth * this.durationInMillis;

        // Now set that position in the player
        this.soundClip.setPosition(mouseXPosEquivalentMillis);

        // Check the state of the player and if it's not running, start it
        if (this.soundClip.playState == 0 || this.soundClip.paused) {
          // Pause any other players first
          this.clipSoundManager.pauseAll();

          // Start the clip playing
          this.soundClip.play();
        }

      },
      handleBackgroundClicked: function (event) {
        this.setPlayerPosition(event);
      }
    }
  }
</script>

<style lang="scss" scoped>
  // Should I move this to an existing style and get rid of this
  .clip-player-container {
    text-align: center;
  }

  .clip-player-container > h4 {
    margin-bottom: 2px;
  }

  // Styles for hiding and showing based on categories
  .hidden {
    display: none !important;
  }

  // Add a border to the players to use to indicate play state
  .large-clip-player {
    border-style: solid;
    border-width: 6px;
    border-radius: 4px;
  }

  .medium-clip-player {
    border-style: solid;
    border-width: 3px;
    border-radius: 3px;
  }

  .small-clip-player {
    border-style: solid;
    border-width: 4px;
    border-radius: 4px;
    margin-right: 2px;
    margin-left: 2px;
  }

  // Styles for the smallest screen size
  @media(min-width: 0px) {

    // Hide the large player
    .large-clip-player {
      display: none;
    }

    // Hide the medium player
    .medium-clip-player {
      display: none;
    }

    // Show the small player
    .small-clip-player {
      display: block;
    }
  }

  // Styles for the large screen size
  @media(min-width: 940px) {
    // Show the large player
    .large-clip-player {
      display: block;
    }

    // Hide the medium player
    .medium-clip-player {
      display: none;
    }

    // Hide the small player
    .small-clip-player {
      display: none;
    }
  }
</style>
