<template>
  <div>
    <div class="clip-list-title">
      <h3>{{title}}</h3>
    </div>
    <div>
      <clip-list-item v-for="(clip,i) in clips" v-bind:clipSoundManager="clipSoundManager" v-bind:clip="clip"
                      v-bind:category-filter="categoryFilter" v-bind:key="clip.id"
                      v-on:frame-loaded="handleFrameLoaded"></clip-list-item>
    </div>
  </div>
</template>

<script>
  import ClipListItem from './ClipListItem.vue';

  export default {
    name: 'clip-list',
    props: ['clipSoundManager', 'clips', 'categoryFilter', 'title', 'apiBaseUrl', 'apiKey'],
    components: {
      'clip-list-item': ClipListItem
    },
    data() {
      return {
        numberOfFramesLoaded: 0,
        detailDisplay: 'none',
        detailName: 'Unknown',
        detailDescription: 'nothing right now',
        detailTags: 'N/A',
        detailDuration: '0',
        detailUrl: 'N/A'
      }
    },
    methods: {
      handleFrameLoaded: function () {
        this.numberOfFramesLoaded++;
        if (this.numberOfFramesLoaded >= (this.clips.length)) {
          this.$emit('all-frames-loaded');
        }
      },
      msToTime: function (position, durationEstimate, displayRemainingTime, showMs) {
        // Check to see if the return value should be the amount of time left in the clip.
        // If so, calculate the difference between the total duration and the current position
        if (displayRemainingTime)
          position = durationEstimate - position;

        // First convert the position in milliseconds to seconds
        var s = parseInt(position / 1000);

        // Now grab the seconds portion
        var seconds = Math.trunc(s % 60);

        // And calculate that in minutes
        var minutes = Math.trunc(s / 60);

        // Check for hours
        var hours = 0;
        if (minutes > 59) {
          hours = Math.trunc(minutes/60);
          minutes = Math.trunc((minutes/60 - hours) * 60);
        }

        // Pad seconds with zero
        if (seconds < 10)
          seconds = '0' + seconds;

        // Pad minutes with zero
        if (minutes < 10)
          minutes = '0' + minutes;

        // Pad hours if needed
        if (hours < 10)
          hours = '0' + hours;

        // If the caller wants millis displayed, calculate millis and attach
        if (showMs) {
          // Grab the millis part
          var ms = Math.trunc(position % 1000);

          // Pad with zeros if necessary
          if (ms < 10)
            ms = '00' + ms
          else if (ms < 100)
            ms = '0' + ms;
          else
            ms = '' + ms;

          // Now return the time to display
          return hours + ":" + minutes + ':' + seconds + ':' + ms;
        } else {
          // Return just the minutes and seconds
          return hours + ":" + minutes + ':' + seconds;
        }
      }
    }
  }
</script>

<style lang="scss" scoped>
  .clip-list-title {
    text-align: center;
    background-color: lightgrey;
    padding: 10px;
  }

  .clip-list-title > h3 {
    font-size: xx-large;
  }
</style>
