.player {
  z-index: 1;
  position: relative;
  /*margin-bottom: 10px;*/
}

.player.large {
  width: 900px;
  height: 201px;
}

.player.small {
  width: 120px;
  height: 71px;
}

.player.mini {
  width: 100%;
  height: 100%;
  background-color: black;
}

.player .metadata {
  display: none;
}

.player .background {
  z-index: 2;
  position: relative;
}

.player .background {
  height: 100%;
  width: 100%;
}

.player .position-indicator {
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 100%;
  background-color: red;
  opacity: 0.6;
}

.player .measure-readout {
  z-index: 3;
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  height: 80px;
  color: white;
  font-size: 12px;
  text-align: right;
  font-family: 'Inconsolata', arial, serif;
  padding-top: 10px;
  padding-right: 10px;
}

.player .loading-progress {
  z-index: 3;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.7;
  pointer-events: none;
}

.player.large .time-indicator-container {
  z-index: 5;
  position: absolute;
  background: url("img/time_background.png");
  background-repeat: no-repeat;
  background-position: 44px 0px;
  bottom: 0px;
  right: 0px;
  width: 150px;
  height: 36px;
  z-index: 6;
  color: white;
  font-size: 18px;
  text-align: right;
}

.player.large .time-indicator {
  font-family: 'Inconsolata', arial, serif;
  padding-top: 10px;
  padding-right: 10px;
}

.player.small .time-indicator-container {
  z-index: 5;
  position: absolute;
  /*background: url("img/time_background.png");
  background-repeat: no-repeat;
  background-position: 44px 0px; */
  bottom: 1px;
  right: 1px;
  /*width: 150px;*/
  height: 13px;
  z-index: 6;
  color: white;
  font-size: 13px;
  text-align: right;
}

.player.small .time-indicator {
  font-family: 'Inconsolata', arial, serif;
  padding-top: 0px;
  padding-right: 0px;
}

/**************************/

.player .controls {
  z-index: 5;
  position: absolute;
  bottom: 0px;
}

.player.large .controls {
  background: url("img/icon_background.png");
  background-repeat: no-repeat;
  background-position: -110px 0px;
  width: 190px;
  height: 36px;
}

.player.small .controls, .player.mini .controls {
  width: 40px;
  height: 20px;
}

.player .controls > div, .player .controls > a {
  z-index: 6;
  background-repeat: no-repeat;
  background-position: 0px 0px;
  float: left;
  font-size: 0px;
  line-height: 0;
  text-indent: -9999px;
}

.player.large .controls > div, .player.large .controls > a {
  width: 36px;
  height: 36px;
}

.player.small .controls > div, .player.small .controls > a {
  width: 20px;
  height: 20px;
}

.player.mini .controls > div, .player.mini .controls > a {
  width: 20px;
  height: 20px;
}

/**************************/

.player .controls .button:hover {
  background-position: 0px -36px;
}

.player .controls .button:active {
  background-position: 0px -72px;
}

/**************************/

.player.large .controls .toggle {
  background-position: 0px 0px;
}

.player.large .controls .toggle:hover {
  background-position: 0px -36px;
}

.player.large .controls .toggle-alt {
  background-position: 0px -72px;
}

.player.large .controls .toggle-alt:hover {
  background-position: 0px -108px;
}

.player.small .controls .toggle, .player.mini .controls .toggle {
  background-position: 0px 0px;
}

.player.small .controls .toggle:hover, .player.mini .controls .toggle:hover {
  background-position: 0px -20px;
}

.player.small .controls .toggle-alt, .player.mini .controls .toggle-alt {
  background-position: 0px -40px;
}

.player.small .controls .toggle-alt:hover, .player.mini .controls .toggle-alt:hover {
  background-position: 0px -60px;
}

/**************************/

.player .stop {
  background-image: url("img/b_stop_icon.png");
}

.player.large .play {
  background-image: url("img/b_play_pause_icon.png");
}

.player.small .play, .player.mini .play {
  background-image: url("img/b_play_pause_icon_small.png");
}

.player.large .display {
  background-image: url("img/b_waveform_spectral_icon.png");
}

.player.small .display {
  background-image: url("img/b_waveform_spectral_icon_small.png");
}

.player.large .loop {
  background-image: url("img/b_loop_icon.png");
}

.player.small .loop, .player.mini .loop {
  background-image: url("img/b_loop_icon_small.png");
}

.player .measure {
  background-image: url("img/b_measure_icon.png");
}
